<img src="vua.png">

### Učitavanje podataka iz datoteke i prikaz prva tri zapisa za svaku kategoriju irisa

In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib as plt

path='iris.csv'
df = pd.read_csv(path, sep=';')

df.groupby('iris').head(3)

     sepallength  sepalwidth  petallength  petalwidth             iris
0            5.1         3.5          1.4         0.2      Iris-setosa
1            4.9         3.0          1.4         0.2      Iris-setosa
2            4.7         3.2          1.3         0.2      Iris-setosa
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
100          6.3         3.3          6.0         2.5   Iris-virginica
101          5.8         2.7          5.1         1.9   Iris-virginica
102          7.1         3.0          5.9         2.1   Iris-virginica

Pogledaj prethodnu vježbu i prikaži dokumente u koji se nalaze u mapi vježbe.

In [2]:
!ls

ETL.ipynb  iris.csv  vua.png

Pogledaj prethodnu vježbu i prikaži prve retke iz dokumenta iris.csv.

In [3]:
!head iris.csv

sepallength;sepalwidth;petallength;petalwidth;iris
5.1;3.5;1.4;0.2;Iris-setosa
4.9;3;1.4;0.2;Iris-setosa
4.7;3.2;1.3;0.2;Iris-setosa
4.6;3.1;1.5;0.2;Iris-setosa
5;3.6;1.4;0.2;Iris-setosa
5.4;3.9;1.7;0.4;Iris-setosa
4.6;3.4;1.4;0.3;Iris-setosa
5;3.4;1.5;0.2;Iris-setosa
4.4;2.9;1.4;0.2;Iris-setosa

### Deskriptivna statistika
Napravi osnovnu deskriptivnu analizu (describe).

Korištenjem *groupby* napravi prikaz srednje vrijednosti po vrstama irisa.

Prikaži usporedbu medijan vrijednosti za sve nezavisne varijable.

### Min max transformacija
Napravi normalizaciju nezavisnih varijabli.

In [ ]:
df['sepw_min_max'] = (df['sepalwidth']-df.sepalwidth.min())/(df.sepalwidth.max()-df.sepalwidth.min())





df.groupby('iris').head(3)

### Z transformacija
Napravi Z transformaciju nezavisnih varijabli.

In [ ]:
df['sepw_z'] =
df['sepl_z'] =
df['petw_z'] =
df['petl_z'] =

### N najvećih i najmanjih vrijednosti 
Prikaži 5 najvećih i pet najmanjih vrijednosti po Z-skaliranim vrijednostima

In [ ]:
#demo
print(df.nlargest(5, 'sepalwidth'))
print(df.nsmallest(5, 'sepalwidth'))

### Provjera missing vrijednosti
Prikažimo redke s nedostajućim vrijednostima.

In [ ]:
df[df.isna().any(axis=1)]

Izbacimo redke s nedostajućim vrijednostima.

In [ ]:
df=df.dropna()
df[df.isna().any(axis=1)]

### Kreiranje razreda temeljem min max transformacije
Trenutno su nam vrijednosti kontinuirane. Napravimo razrede

In [ ]:
min_max_bin = pd.qcut(df.sepw_min_max,5)
df = df.assign(Razredi_sepw=min_max_bin)






df.groupby('iris').head(3)

Prikaži sve vrijednosti razreda za sve četiri nezavisne varijable.

###  Promjena vrijednosti prema višestruktim kriterijem unutar frame-a
Napravi nove "Dummy" varijable koje će prikazati da li je vrijednost varijable iznad prosjeka i manja od trećeg kvartila.

In [ ]:
df['Dummy_sepw'] = 0

df.loc[(df['sepalwidth'] > df['sepalwidth'].mean()) & (df['sepalwidth'] < df['sepalwidth'].quantile(q=0.75)) ,'Dummy_sepw'] = 1
df.groupby('iris').head(3)

### Selekcija  sa upisom rezultata u novi frame
Napravimo novi dataframe s podacima nastalim uporabom kriterija na posojećem dataframeu. Napravi selekciju za podatke između prvog i trećeg kvartila. Ispiši broj redaka u svakom od novih dataframeova (metoda shape).

In [ ]:
demo = df[(df.sepalwidth > 3) &  (df.sepalwidth< 4)]

newdf_sepw =

### Brisanje retka unutar data frame-a
Sada iz novih dataframeove obriši retke u kojima je vrijednost jednaka drugom kvartilu.  Ispiši broj redaka u svakom od novih dataframeova (metoda shape) i pogledaj da li je broj manji nego prije

In [ ]:
demo = demo.drop(demo[demo.sepalwidth == 3.5].index)

newdf_sepw =

### Prebacivanje kolone iz frame-a u listu
Napravimo četiri nove liste s vrijednostima iz prethodna četiri dataframea.

In [ ]:
demo['sepalwidth']

In [ ]:
Lista_demo=list()
Lista_demo = demo['sepalwidth']

### Zadaća

In [ ]:
%matplotlib inline

In [ ]:
import matplotlib.pyplot as p
df.plot.hist(title='Histogram')

Napravi prikaz u kojem se prikazuje usporedba srednjih vrijednosti po tipovima irisa.

Mapravi prikaz u kojem se prikazuje distribucija vrijednosti "sepallength" po tipovima irisa.